*{
	margin: 0;
	padding: 0;
}

#logo {
	width: 200px;
	height: 150px;
	/*border: 1px solid #4fb9cc;*/
	background: url(../imagens/logo200px.png) no-repeat center;
}

#navegacao {
	align-content: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

ul a {
	width: 200px;
	height: 40px;
	display: block;
	border: 1px solid #1a6192;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background: url(../imagens/menu.png);
	background-color: #4fb9cc;
}

a:hover {
	background-position: right bottom;
	background-color: #1a6192; 
	border: 1px solid #4fb9cc;
	color: white;
}